{% extends "_base.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>> DDJBR: <span class="mainterminal" style="color:#888;margin-right:10px;font-size:1em"></span></h1>
    <p>Reportagens, especiais, projetos: só os melhores links sobre o que foi publicado por aí no contexto de jornalismo orientado por dados no Brasil.</p>
    <p>Sugira reportagens para o DDJBR pelo Twitter <strong><a href="https://twitter.com/ddj_br" target="_blank">@ddj_br</a></strong>. Saiba quem são os <strong><a href="curadores.html">curadores</a></strong> desta lista e <strong><a href="https://tinyletter.com/ddjbrasil" target="_blank">assine a newsletter</a></strong> gratuita para receber esses links em seu inbox de vez em quando.</p>
    <ul class="share-buttons">
      <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fddj.jor.br&quote=DDJBR%20os%20melhores%20links%20do%20jornalismo%20de%20dados%20no%20Brasil" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="images/flat_web_icon_set/black/Facebook.png" /></a></li>
      <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fddj.jor.br&text=DDJBR:%20os%20melhores%20links%20do%20jornalismo%20de%20dados%20no%20Brasil%20-%20http%3A%2F%2Fddj.jor.br&via=voltdatalab" target="_blank" title="Tweet"><img alt="Tweet" src="images/flat_web_icon_set/black/Twitter.png" /></a></li>
      <li><a href="https://getpocket.com/save?url=http%3A%2F%2Fddj.jor.br&title=DDJBR%20os%20melhores%20links%20do%20jornalismo%20de%20dados%20no%20Brasil" target="_blank" title="Add to Pocket"><img alt="Add to Pocket" src="images/flat_web_icon_set/black/Pocket.png" /></a></li>
      <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fddj.jor.br&title=DDJBR%20os%20melhores%20links%20do%20jornalismo%20de%20dados%20no%20Brasil" target="_blank" title="Submit to Reddit"><img alt="Submit to Reddit" src="images/flat_web_icon_set/black/Reddit.png" /></a></li>
      <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fddj.jor.br&title=DDJBR&summary=Os%20melhores%20links%20sobre%20jornalismo%20de%20dados%20no%20Brasil&source=http%3A%2F%2Fddj.jor.br" target="_blank" title="Share on LinkedIn"><img alt="Share on LinkedIn" src="images/flat_web_icon_set/black/LinkedIn.png" /></a></li>
      <li><a href="mailto:?subject=DDJBR&body=Os%20melhores%20links%20sobre%20jornalismo%20de%20dados%20no%20Brasil:%20http%3A%2F%2Fddj.jor.br" target="_blank" title="Send email"><img alt="Send email" src="images/flat_web_icon_set/black/Email.png" /></a></li>
    </ul>
    <hr style="height:6px;background-color: #807279" />
    {% if edicao %}
    <h2 class="edicao">Edição: #{{ edicao }}</h2>
    {% endif %}
  </div>
  {% block lista %}
    {% include "lista.html" %}
  {% endblock lista %}
</div>
{% endblock content %}
