{% extends "_base-lista.html" %}

{% block content %}
<div class="container topo">
  {% for row in listaddj %}
  <div class="row divisoria">
      <div class="col-lg-6">
  <h6><span style="font-weight: 700;text-transform:uppercase">{{ row.veiculo }}</span></h6>
  <h3><a href="{{ row.link }}" target="_blank">{{ row.headline }}</a></h3>
  <h6>Publicado dia <strong>{{ row.data }}</strong> | Arquivado em <strong>{{ row.tag }}</strong></h6>
</div>
  <div class="col-lg-6" style="margin-top:5%">
  <p>{{ row.desc }}.. <a href="{{ row.link }}" target="_blank">(Continue lendo em {{ row.veiculo }} <i class="fas fa-external-link-alt"></i>)</a></p>
  <h6>Por {{ row.reporteres }}</h6>
  </div>
  </div>
  {% endfor %}
  <ul class="share-buttons" style="text-align:center;">
    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fddj.jor.br&quote=DDJBR%20os%20melhores%20links%20do%20jornalismo%20de%20dados%20no%20Brasil" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="images/flat_web_icon_set/black/Facebook.png" /></a></li>
    <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fddj.jor.br&text=DDJBR:%20os%20melhores%20links%20do%20jornalismo%20de%20dados%20no%20Brasil%20-%20http%3A%2F%2Fddj.jor.br&via=voltdatalab" target="_blank" title="Tweet"><img alt="Tweet" src="images/flat_web_icon_set/black/Twitter.png" /></a></li>
    <li><a href="https://getpocket.com/save?url=http%3A%2F%2Fddj.jor.br&title=DDJBR%20os%20melhores%20links%20do%20jornalismo%20de%20dados%20no%20Brasil" target="_blank" title="Add to Pocket"><img alt="Add to Pocket" src="images/flat_web_icon_set/black/Pocket.png" /></a></li>
    <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fddj.jor.br&title=DDJBR%20os%20melhores%20links%20do%20jornalismo%20de%20dados%20no%20Brasil" target="_blank" title="Submit to Reddit"><img alt="Submit to Reddit" src="images/flat_web_icon_set/black/Reddit.png" /></a></li>
    <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fddj.jor.br&title=DDJBR&summary=Os%20melhores%20links%20sobre%20jornalismo%20de%20dados%20no%20Brasil&source=http%3A%2F%2Fddj.jor.br" target="_blank" title="Share on LinkedIn"><img alt="Share on LinkedIn" src="images/flat_web_icon_set/black/LinkedIn.png" /></a></li>
    <li><a href="mailto:?subject=DDJBR&body=Os%20melhores%20links%20sobre%20jornalismo%20de%20dados%20no%20Brasil:%20http%3A%2F%2Fddj.jor.br" target="_blank" title="Send email"><img alt="Send email" src="images/flat_web_icon_set/black/Email.png" /></a></li>
  </ul>
</div>

{% endblock content %}
