{% extends "_base-lista.html" %}

{% block content %}
<div class="container topo">
  {% for row in listaddj %}
  <div class="row divisoria">
      <div class="col-lg-6">
  <h6><span style="font-weight: 700;text-transform:uppercase">{{ row.veiculo }}</span></h6>
  <h3><a href="{{ row.link }}" target="_blank">{{ row.headline }}</a></h3>
  <h6>Publicado dia <strong>{{ row.data }}</strong> | Arquivado em <strong>{{ row.tag }}</strong></h6>
</div>
  <div class="col-lg-6" style="margin-top:5%">
  <p>{{ row.desc }}.. <a href="{{ row.link }}" target="_blank">(Continue lendo em {{ row.veiculo }} <i class="fas fa-external-link-alt"></i>)</a></p>
  <h6>Por {{ row.reporteres }}</h6>
  </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
